* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  min-height: 85.2vh;
}

header {
  background-color: rgb(50, 167, 145);

}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  margin: 0;
}

h4, h3, h2 {
  margin-top: 1rem;
}

input:hover:not(#input-name, #input-lastname, #input-email, #login, #senha),
button:hover,
label:hover,
select:hover {
  cursor: pointer;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

.container.header {
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: .2rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#row--submit {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  background: rgba(128, 128, 128, 0.11);
  border: 2px solid black;
}

#nick {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 100;
  font-family: 'Magic School Two';
  margin-bottom: 2rem;
}

@font-face {
  font-family: "Magic School Two";
  src: url("./font/MagicSchoolTwo.ttf");
}

.font {
  font-family: "Magic School Two" !important;
  font-weight: 400 !important;
  font-size: 2.5rem !important;
  line-height: 2.5rem !important;
}

.font-1 {
  font-size: 3rem !important;
}

.font-2 {
  font-size: 2rem !important;
}
h4.font {
  border-bottom: 2px solid rgba(34,36,38,.15)!important;
  margin-bottom: .3rem;
}
.exception{
  align-items: flex-start;
}

#evaluation-form {
  width: min(600px,100%);
}

#trybewarts-forms-logo {
  padding: 1rem 0;
}
.row2 {
  display: flex;
  align-items: center;
}
.row3 {
  display: flex;
  align-items: center;
}

.row3 > * {
  margin: 0 .3rem;
}

form.form {
  margin: 2rem 0;
}

#trybewarts-forms-logo {
  height: 500px;
}

.especial--1 {
 width: 27%;
}

.especial--2 {
  width: 66%;
}

.yeah {
  margin-left: 2rem;
}

.self {
  margin-top: .5rem;
}

#label-content, #label-family {
  font-size: 1rem;
  font-weight: 600;
}

#agreement {
  margin-right: .3rem;
}

#submit-btn {
  width:100%;
}

.footer {
  padding: 1rem;
  text-align: center;
  color: #fff;
  background-color: gray;
}

.subject {
  margin: 3px 4px 0 0;
}

#result {
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 1070px) {
  .main.row {
    flex-direction: column-reverse;
  }
  #trybewarts-forms-logo {
    height: 300px;
  }
}

@media (max-width: 767px) {
  #trybewarts-header-title {
    display: none;
  }
}

@media (max-width:600px) {
  .container.header {
    background-color: rgb(50, 167, 145);
    height: 8rem;
    padding: .2rem;
  }
  #botão {
    width: 177px;
  }
  .row--small {
    flex-direction: column;
  }
  .yeah {
    margin-left: 0;
  }
  #label-content {
    margin-top: 2rem;
  }
  #label-rate {
    margin-bottom: 1rem;
  }
  .especial--1 {
    width: auto;
    margin: auto;
   }
   
  .especial--2 {
    width: auto;
    margin: auto;
  }
  * {
    text-align: center;
  }
  h4 {
    font-size: 1.5rem !important;
  }
}